@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

:root {
  /* colores */
  --color-primary:                #041627;
  --color-on-primary:             #ffffff;
  --color-primary-container:      #1a2b3c;
  --color-on-primary-container:   #8192a7;

  --color-secondary:              #92484f;
  --color-on-secondary:           #ffffff;
  --color-secondary-container:    #ffa2a9;
  --color-on-secondary-container: #7a353d;

  --color-tertiary:               #041a00;
  --color-on-tertiary:            #ffffff;
  --color-tertiary-container:     #103104;
  --color-on-tertiary-container:  #759c62;

  --color-background:             #fbf9f5;
  --color-on-background:          #1b1c1a;

  --color-surface:                #fbf9f5;
  --color-on-surface:             #1b1c1a;
  --color-on-surface-variant:     #44474c;

  --color-surface-container-lowest:  #ffffff;
  --color-surface-container-low:     #f5f3ef;
  --color-surface-container:         #efeeea;
  --color-surface-container-high:    #eae8e4;
  --color-surface-container-highest: #e4e2de;

  --color-outline:         #74777d;
  --color-outline-variant: #c4c6cd;
  --color-border:          #D1C7B7;

  --color-error:            #ba1a1a;
  --color-on-error:         #ffffff;
  --color-error-container:  #ffdad6;

  --color-tertiary-fixed-dim: #a9d293;

  /* tipografia */
  --font-serif:  'Playfair Display', Georgia, serif;
  --font-sans:   'Inter', system-ui, sans-serif;
}