DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@localhost:5432/repaso_db"

# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3001