# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env.local
.env.*.local

# Logs
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/fallback-*.js
public/fallback-*.js.map